@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #121212;
    background-color: floralwhite;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    /*position: relative;*/
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

/*
Header Component CSS
*/

/* CSS for Navigation bar*/
.navbar {
    /*width: 100%;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 500;
}

@media (min-width: 1200px) {
    header {
        max-width: 1500px;
    }
}

/* CSS for toggle icon */
.navbar .navbar-toggler {
    /*width: 30px;*/
    /*height: 2px;*/
    background-color: #544a7d;
    /*margin: 5px 0;*/
    /*display: block;*/
    /*position: relative;*/
    transition: all 0.3s ease-out 0s;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}

/*
Body Component CSS
*/

/*.body-container{*/
/*    width: 100%;*/
/*    padding-top: 60px;*/
/*}*/

.home-title {
    margin-bottom: 20px;
    padding: 20px 25px;
    text-align: center;
    color: darkturquoise;
    background: linear-gradient(90deg, #544a7d, #654ea3 50%, #544a7d);
}

.home-title .subtitle {
    color: #fff;
    max-width: 980px;
}

.home-title h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.single-features {
    padding: 40px 20px 52px;
    /*background-color: #ffffff;*/
    /*width: 400px;*/
    height: 250px;
    margin: 5px;
    border: solid olive;
    border-radius: 25px;
    font-family: consolas;
    /*font-family: mirienda;*/
}

.single-features .features-title-icon h4 {
    font-size: 22px;
    font-weight: 500;
}

.single-features .features-title-icon .features-icon {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.section-title .title {
    font-size: 44px;
    font-weight: 600;
    color: #121212;
    line-height: 55px;
}


/*
Action Components CSS
*/

.row {
    /*border: solid green;*/
}

.form-group {
    /*border: solid;*/
}

.input-area {
    /*border: solid #654ea3;*/
    background-color: snow;
    /*background-image: linear-gradient(-90deg, #f44eb4 0%, #ff795e 98%);*/
    background: linear-gradient(90deg, #544a7d, #654ea3 50%, #544a7d);
    /*background: linear-gradient(0deg, #fff, #03a9f4);*/
}

.action-title-icon {
    /*border: solid;*/
}

.action-title-icon h1 {
    color: crimson;
    font-weight: 800;
}

.action-title-icon svg {
    width: 150px;
    height: 150px;
    fill: crimson;
}

.action-content {
    line-height: 30px;
    float: left;
    font-size: 20px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    color: rgb(33, 33, 33);
}

form {
    /*border: solid;*/
    margin: 10px 20px;
    padding-top: 10px;
}

.action-btn {
    /*background: linear-gradient(to right, #0067f4 0%, #2bdbdc 100%);*/
    /*background-image: linear-gradient(-90deg, #f44eb4 0%, #ff795e 98%);*/
    /*background-image: linear-gradient(0deg, #fff, #03a9f4);*/
    width: 50%;
}

.action-btn:hover, .action-btn:focus, .action-btn:active, .action-btn:active:focus {
    background-color: #22B3F5;
}

.custom-file-label{
    margin-bottom: 40px;
}

nav #marker {
    position: absolute;
    left: 0;
    height: 4px;
    width: 0;
    background: red;
    bottom: -8px;
    transition: 0.5s;
    border-radius: 4px;
}


.fqzcVW {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
}